*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    text-decoration: none;
    border:none;
    outline: none;
    scroll-behavior: smooth;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
#root{
    margin: 0 auto;
}
html{
    font-size: 90%;
    overflow-x: hidden;
}
#header{
    display:flex;
    position: fixed;
    top:0;
    left:0;
    width:100%;
    justify-content: space-between;
    align-items: center;
    padding:2rem 12% 2rem;
    background-color: rgba(119, 119, 119, 0.527);
    backdrop-filter: blur(10px);
    z-index: 5;
}
#nav1{
    display:flex;
    justify-content: space-between;
    align-items: center;
}
#nav a{
    flex-direction: row;
    color: white;
    font-weight: bold;
    cursor: pointer; 
}
#nav{
    position: relative;
    display:flex;
    gap:15px;
    font-size: 20px;
    list-style: none;
}
#nav a:hover, 
#nav a.active{
    transform: scale(1.1);
    color: black;
    text-decoration: underline 3px solid black;
    transition: 0.3s ease;
}
/* Responsive Nav */
#hamburger{
    position: relative;
    width: 30px;
    height: 6px;
    background:#fff;
    border-radius: 10px;
    cursor: pointer;
    z-index:2;
    transition: 0.3s;
}
#hamburger:before,
#hamburger:after{
    content:"";
    position: absolute;
    height: 6px;
    right: 0;
    background:#fff;
    border-radius: 10px;
    transition: 0.3s;
}
#hamburger:before{
    top:-10px;
    width: 80px;
}
#hamburger:after{
    top:10px;
    width:85px;
}
#toggle-menu{
    position: absolute;
    width: 30px;
    height: 100%;
    z-index: 3;
    cursor: pointer;
    opacity: 0;
}
#hamburger,
#toggle-menu{
    display: none;
}
#nav1 input:checked ~ #hamburger{
    background:transparent;
}
#nav1 input:checked ~ #hamburger:before{
    top:0;
    transform: rotate(-45deg);
    width:80px;
}
#nav1 input:checked ~ #hamburger:after{
    top:0;
    transform: rotate(45deg);
    width:80px;
}
#nav1 input:checked ~ #nav{
    right:0;
    box-shadow: -20px 0 40px rgba(0, 0, 0, 0.3);
}
#logo img{
    background-repeat: no-repeat;
    width: 50px;
    background-position:relative;
    margin:0 -50px -20px 0;
    cursor: pointer;
}
#logo:hover{
    transform: scale(1.1);
    transition: 0.3s ease;
}
#venvil span{
    color:rgb(255, 255, 255);
}
#venvil{
    padding-left:45px;
    display: inline-flex;
    gap:3px;
    font-size: 30px;
    font-weight: bold;
    position: relative;
}
/* Scroll view animation */
.hidden {
    opacity: 0;
    filter: blur(5px);
    transform: translateX(-30%);
    transition: opacity 0.6s ease-out, transform 0.6s ease-out;
}

.visible {
    opacity: 1;
    filter: blur(0);
    transform: translateX(0);
}
/* End of scroll animation style */
body{
    background-color: rgb(175, 173, 173);
}
section{
    min-width: 100vh;
    padding: 10rem 12% 10rem;  
}
.home{
    display: flex;
    align-items: center;
    justify-content: center;
    gap:4rem;
}
.home-content{
    display:flex;
    order:1;
    flex-direction: column;
    align-items: baseline;
    text-align: left;
    justify-content: center;
    margin-top: 3rem;
}
.home-content h3{
    margin-bottom: 2rem;
    margin-top: 1rem;
    font-size: 2rem;
    width: 550px;
}
.home-content h1{
    font-size: 7rem;
    font-weight: 700;
    margin-top: 1.5rem;
    line-height: 1;
    text-shadow: 0 0 10px white;
}
.home-content p{
    font-size: 1.5rem;
    font-weight: 500;
    line-height: 1.8;
    max-width: 800px;
    color: white;
}
#homeimg{
    order:2;
    border-radius:50%;
}
#homeimg img{
    position:relative;
    top:3rem;
    max-width: 450px;
    max-height: 450px;
    border-radius: 50%;
    box-shadow:10px 0 50px black;
    cursor:pointer;
    transition: 0.4s ease-in-out;
    animation: breathing-shadow 5s infinite alternate;
}
#homeimg img:hover{
    box-shadow: 0 0 25px black,
                0 0 50px black,
                0 0 100px black;
    transform: scale(1.1);
}
@keyframes breathing-shadow {
    0% {
        box-shadow: 0 0 0 black,
                    0 0 0 black,
                    0 0 0 black;
    }
    25% {
        box-shadow: 0 0 15px black,
                    0 0 25px black,
                    0 0 150px black;
    }
    50% {
        box-shadow: 0 0 25px black,
                    0 0 50px black,
                    0 0 100px black;
    }
}
.social-icons a img, .social a img{
    display:inline-flex;
    justify-content: center;
    align-items: center;
    width:4.5rem;
    height: 4.5rem;
    margin: 3rem 1.5rem 3rem 0;
    border-radius: 1rem;
    transition: 0.3s ease-in-out;
    box-shadow: 0 0 10px white;
}
.social-icons img:hover, .social img:hover{
    color:white;
    transform: scale(1.3)translateY(-5px);
    box-shadow: 0 0 50px white;
}
#contact-btn a, .btn{
    display:inline-block;
    padding:1rem 7rem;
    max-width: 300px;
    max-height: 50px;
    background:black;
    box-shadow: 0 0 25px white;
    border-radius: 4rem;
    font-size: 1rem;
    color:white;
    border: 2px solid transparent;
    letter-spacing: 0.1rem;
    font-weight: 600;
    transition: 0.3s ease-in-out;
    cursor:pointer;
}
#contact-btn a:hover, .btn:hover{
    transform: scale(1.10);
    box-shadow: 0 0 50px white;
    border:50px black;
    background-color:gray;
}
.text-animation{
    font-size: 34px;
    font-weight: 600;
    min-width: 280px;
}
.text-animation span{
    position: relative;
}
.text-animation span::before{
    content: "UI / UX Designer";
    color:white;
    animation: words 20s infinite;
}
@keyframes cursor {
    50%{
        border-color: transparent;
    }
}

.about{
    background-image:linear-gradient(rgb(87, 86, 86), #cacaca);
    gap:5rem;
}
.about-box{
    display: flex;
    align-items: center;
    justify-content: center;
    gap:5rem;
}
.about-content{
    display:flex;
    order:2;
    flex-direction: column;
    align-items: baseline;
    text-align: left;
    justify-content: center;
    margin-top: 3rem;
    background-color: rgba(0, 0, 0, 0.623);
    border-radius: 2rem;
    box-shadow:10px 0 50px white;
    
}
#about_img{
    order:1;
    border-radius:50%;
}
#about_img img{
    position:relative;
    top:3rem;
    width: 450px;
    border-radius: 10rem;
    box-shadow:10px 0 50px white;
    cursor:pointer;
    object-fit: cover;
    transition: 0.4s ease-in-out;
}
#about_img img:hover{
    box-shadow: 0 0 25px white,
                0 0 50px white,
                0 0 100px white;
    transform: scale(1.1);
}
.about-content h3{
    text-align: center;
    font-size: 7rem;
    text-shadow: 0 10px 10px white;
}
.about-content p{
    margin: 20px;
    margin-top: 5%;
    font-size: 1.3rem;
    font-weight: 500;
    line-height: 2;
    width: 450px;
    text-align: justify;
    color: white;
}
/* Sort */
.services-selection, .services-selection option, .services-selection select{
    margin-bottom: 20px;
    font-size: 20px;
    border-radius: 2rem;
}
.portfolio-selection, .portfolio-selection option, .portfolio-selection select{
    margin:0 250px 20px 0;
    position: absolute;
    font-size: 20px;
    border-radius: 2rem;
}
/* Services */
.services{
    background-image:linear-gradient(#cacaca, rgb(87, 86, 86));
    color:black;
}
.services h5, .portfolio h5, .contact h5{
    margin-bottom: 5rem;
    color:black;
    text-align: center;
    font-size: 2rem;
    text-shadow: 0 5px 10px white;
}
.heading{
    margin-bottom: 5rem;
    color: black;
    text-align: center;
    font-size: 8rem;
    text-shadow: 0 10px 10px white;
}
.services-container{
    max-width: 1320px;
    margin: 0 auto;
    padding: 40px 0;
}
.service-box {
    display: flex;
    flex-wrap: wrap; 
    gap: 1rem; 
    justify-content: center;
    width: 100%; 
    gap: 3.5rem;
    flex-direction: column;
}

.service-content {
    position: relative;
    min-height: 250px; 
    max-height: 350px;
    border-radius: 3rem;
    border: 5px solid white;
    cursor: pointer;
    box-shadow: 0 10px 10px white;
    overflow: hidden; 
    transition: transform 0.4s ease-in-out, box-shadow 0.4s ease-in-out, visibility 0.5s ease, max-height 0.5s ease;
}
.service-content.hidden {
    opacity: 0;
    visibility: hidden;
    max-height: 0;
    margin: 0;
    padding: 0;
    border: 0;
    order: 1;   
}
.service-content img{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0.3;
    transition: opacity 0.4s ease-in-out;
    border-radius: 3rem;
    object-fit: cover;
    z-index: 0;
}
.service-content img:hover{
    opacity: 1;
    transition: transform 0.4s ease-in-out, box-shadow 0.4s ease-in-out;
    transform: translateY(-10px) scale(1.03);
}
.service-content:hover{
    transition: transform 0.4s ease-in-out, box-shadow 0.4s ease-in-out;
    border: 5px solid black;
    transform: translateY(-10px) scale(1.03);
}
.service-content .service-info {
    display: flex;
    flex-direction: column;
    text-align: left;
    justify-content: center; 
    align-items: baseline;
    font-size: 1.6rem; 
    color: white;
    text-shadow: 0 0 10px black;
    text-align: center;
    position: relative;
    z-index: 1;
}
.service-info h4 {
    font-size: 2.5rem; 
    font-weight: 800;
    line-height: 2;
    color: white;
    text-shadow: 0 0 10px black;
    margin-left: 20px;
}

.service-info p {
    font-size: 1.4rem; 
    font-weight: 600;
    max-height: 100px;
    line-height: 1.7;
    margin: auto;
}
/* Modal */
.modal {
    display: none;
    position: fixed;
    z-index: 10000; 
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0,0,0,0.8);
  }
  
  .modal-content {
    background-color: #fefefe;
    border-radius: 3rem;
    margin: 10% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
    max-width: 800px;
    font-size: 1.2rem;
  }
  #modal-title{
    text-align: center;
    margin-bottom: 10px;
  }
  /* Modal Image */
    #modal-image {
    max-width: 100%; 
    max-height: 80vh; 
    display: block;
    margin: 0 auto; 
  }
  #modal-text{
    margin-top: 10px;
  }
  
  
  .close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
  }
  
  .close:hover,
  .close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
  }
  
/* Portfolio Section */
.portfolio-box {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem; 
    justify-content: center; 
    width: 100%; 
}

.portfolio-wrapper {
    display: grid;
    grid-template-columns: repeat(2, 1fr); 
    gap: 2rem; 
    max-width: 1200px;
    overflow: hidden;
    padding: 40px 40px 40px 15px;
}

.portfolio-item {
    flex: 0 1 calc(50% - 1rem); /* Each item takes 50% width with gap */
    transition: transform 0.4s ease-in-out, box-shadow 0.4s ease-in-out, visibility 0.5s ease, max-height 0.5s ease;
    background-color: gray;
    border: 3px solid white;
    border-radius: 2rem;
    cursor: pointer;
}
.portfolio-item.hidden {
    opacity: 0;
    visibility: hidden;
    max-height: 0;
    margin: 0;
    padding: 0;
    border: 0;
}

.portfolio-img,
.portfolio-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    text-align: center;
}

.portfolio-content {
    padding: 10px 14px;
}

.portfolio-img {
    row-gap: 5px;
}

.portfolio-overlay .card-img {
    position: relative;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    border-radius: 25px;
    object-fit: cover;
}

.portfolio-overlay {
    top: 0;
    left: 0;
    height: 200px;
    width: 100%;
    border-radius: 25px;
    background-image: linear-gradient(#cacaca, rgb(87, 86, 86));
}

.portfolio-item:hover {
    background-color: black;
    transform: translateY(-10px) scale(1.03);
    box-shadow: 0 0px 20px white;
}

.portfolio-item h2 {
    font-size: 2rem;
    color: white;
    text-shadow: 0 0px 20px black;
}

.portfolio-item p{
    margin-top: 10px;
    max-width: 320px;
    font-size: 1.4rem;
    color: white;
    overflow: hidden; 
    text-overflow: ellipsis; 
    display: -webkit-box; 
    -webkit-line-clamp: 2; 
    -webkit-box-orient: vertical; 
}

.view-more {
    border: none;
    border-radius: 2rem;
    font-size: 16px;
    color: white;
    padding: 8px 16px;
    background-color: rgb(70, 67, 67);
    transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
    margin: 14px;
    box-shadow: 0px 5px 10px 0px black;
    text-decoration: none;
}

.view-more:hover {
    background-color: gray;
    box-shadow: 0 0px 10px white;
    transform: scale(1.10);
    cursor: pointer;
}

.heading span{
    margin-left:10px;
    color: rgb(255, 255, 255);
    text-shadow: 0 10px 10px black;
}
.contact{
    background-image:linear-gradient(#cacaca, rgb(87, 86, 86));
}
.contact form{
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    gap: 1rem;
    margin: 1rem auto;
    box-shadow: 0 10px 10px black;
    border-radius: 2rem;
    background-color: gray;
    max-width: 800px;
}
.contact form .input-box{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
.contact form .input-box input, .contact form textarea{
    width: 100%;
    padding: 1.5rem;
    font-size: 1rem;
    color: black;
    border-radius: 2rem;
    box-shadow: 0 10px 10px black;
    margin: 1.5rem 0;
    resize: none;
}
.contact form textarea{
    max-width: 800px;
}
.contact form .input-box input{
    max-width: 500px;
    max-height: 50px;
}
.contact form .btn{
    margin-top: 2rem;
}
.contact form .input-group1, .contact form .input-group2{
    margin: 1rem;
}
footer{
    position: relative;
    bottom: 0;
    width: 100%;
    padding: 40px 0;
    background-color: rgb(53, 52, 52);
}
footer .social{
    text-align: center;
    padding-bottom: 25px;
}
footer ul{
    margin-top: 0;
    margin-bottom: 0;
    padding: 0;
    line-height: 1.6;
    text-align: center;
    list-style: none;
}
footer li a{
    color: white;
    font-size: 18px;
}
footer li a:hover{
    color: black;
    text-decoration: underline;
}
footer .copyright{
    margin-top: 2rem;
    text-align: center;
    color: white;
}
@media(max-width:1920px){
    html{
        font-size: 80%;
    }
}
@media(max-width:1240px){

    section{
        margin:0 auto;
        min-width: 200vh;
        padding: 10rem 12% 10rem;
    }

    .contact form .input-group1 input{
        height:80px;
    }
    .contact form input.btn{
        height: 100px;
    }
    
    footer{
        margin:0 auto;
        min-width: 200vh;
        padding: 10rem 12% 10rem;
        
    }
}
@media screen and (max-width:520px){
    #root{
        margin-top: -5%;
     }
    #hamburger,
    #toggle-menu{
        display: block;
    }
    #header{
        padding:5rem 12% 5rem;
    }
    #venvil{
        font-size: 70px;
    }
    #logo img{
        width:80px;
        
    }
    #nav{
        justify-content: start;
        flex-direction: column;
        align-items: center;
        position: fixed;
        top:0;
        right:-250px;
        background:gray;
        width:250px;
        height: 800px;
        padding-top: 250px;
        border-radius: 10px;
    }
    #nav li{
        text-align: center;
        width:100%;
    }
    #nav li a,
    #nav li a:hover{
        padding: 10px;
        font-size: 30px;
    }
    section #home{
        margin-top: 1000px;
    }
    .home{
        align-items: center;
        flex-direction: column-reverse;
        margin: 5rem 4rem;
        margin: 0%;
    }
    #homeimg img{
        margin-top: 200px;
    }
    .home-content{
        margin-top: 20px;
    }
    .home-content h3{
        align-self: center;
        font-size: 3.5rem;
        text-align: center;
        width: 450px;
    }
    .home-content h1{
        align-self: center;
        font-size: 8rem;
    }
    .home-content p{
        max-width: 800px;
        margin:0 auto;
        font-size: 2.5rem;
        text-align: center;
    }
    .social-icons{
        align-self: center;
    }
    .social-icons a img{
        width: 8rem;
        height: 8rem;
    }
    #contact-btn{
        align-self: center;
    }
    #contact-btn a.btn{
        width:550px;
        text-align: center;
        font-size: 2rem;
        padding-bottom: 10px;
    }
    #homeimg img{
        width:120vw;
    }
    
    .about-box{
        align-items: center;
        flex-direction: column-reverse;
        margin: 5rem 4rem;
        margin: 0%;
    }
    .about-content{
        order:1;
    }
    #about_img{
        order:2;
        align-self: center;
    }
    #about_img img{
        width: 100vw;
        align-self: center;
    }
    .about-content p{
        font-size: 2rem;
        width: 500px;
        text-align: justify;
    }
    .heading{
        font-size: 6rem;
    }
    .services-selection, .portfolio-selection, .sort-selection label, .portfolio-selection label{
        font-size: 25px;
    }
    /* Modal */
    
    .modal-content {
        margin: 30% auto;
        padding: 20px;
        max-width: 1000px;
        font-size: 3rem;
        text-align: center;
    }
    #modal-title{
        font-size: 5rem;
    }
    /* Modal Image */
        #modal-image {
        max-width: 100%; 
        max-height: 200vh; 

    }
    .services h5, .portfolio h5, .contact h5{
        font-size: 3rem;
    }
    .service-info h4{
        font-size: 6rem;
    }
    .service-info p{
        font-size: 2.5rem;
    }
    .services-container{
        grid-template-columns: repeat(1,1fr);
        margin:50px;
    }
    .portfolio .portfolio-wrapper{
        grid-template-columns: repeat(1,1fr);
    }

    .portfolio-item h2{
        font-size: 5rem;
        text-shadow: 0 0 10px black;
        color: white;
    }
    .portfolio-item p{
        font-size: 2.5rem;
        color: white;
    }
    .contact form{
        flex-direction: column;
        margin-left: 80px;
    }
    .contact form .input-box input, .contact form .input-group2 textarea{
        font-size: 2.5rem;
    }
    .contact form .input-group1, 
    .contact form .input-group2,
    .contact form input.btn{
        width: 700px;
    }
    .contact form .input-group2{
        margin-bottom: 30px;
    }
    footer{
        margin:0 auto;
        min-width: 200vh;
        padding: 10rem 12% 10rem;
        
    }
    footer .social a img{
        width: 8rem;
        height: 8rem;
    }
    footer li a, footer .copyright{
        font-size: 3rem;
    }
}